config ossherd ossherd
	option loglevel		0
	option localip		127.0.0.1
	option localport	7001
	option runas		nobody
	option networks		wan
	option config		'
TCPKeepAlive yes
ConnectTimeout 5
ServerAliveCountMax 3
ServerAliveInterval 10
'

config redsocks redsocks
	option localip		0.0.0.0
	option localport	12345
	option baseconf '
base {
	log = "syslog:daemon";
	daemon = off;
	user = nobody;
	group = nogroup;
	redirector = iptables;
}
'

config ossheep
	option nclone 0
	option host '1.2.3.4'
	option port '8022'
	option user 'foo'
	option pass 'bar'

config ossheep
	option nclone 0
	option host '4.3.2.1'
	option port '2208'
	option user 'bar'
	option identity 'nobodyidentity'

